.flex-container {
  margin-top: 10px;;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.chart-container {
  border-radius: 8px;
  background-color: #ffffff;
}

.statistics {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statistics div {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}